<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>Simple Html</title>
<meta name="description" content="Created by RubyBox">
<meta name="author" content="RubyBox">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>